  body {
            padding-top: 60px;
            padding-bottom: 40px;
            background: url(/Images/cream_dust.png) repeat 0 0;
          }
input {
    border: none;
    background-color: #397D02;
    color:white;
    padding:7px;
}