﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Project Manager</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                <a class="brand" href="#">Project Manager</a>
                    <ul class="nav">
                      <li>@Html.ActionLink("Home", "Index", "Home")</li>
                      <li>@Html.ActionLink("About", "About", "Home")</li>
                      <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                      <li>@Html.ActionLink("Login", "", "Login")</li>
                    </ul>
                </div>
            </div>
        </div>
        @*@Html.Partial("_LoginPartial")*@

    <div class="container">
       @RenderSection("featured", required: false)
@*      <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>*@
       @RenderBody()

    </div>


        @Scripts.Render("~/bundles/jquery")


        @RenderSection("scripts", required: false)
    </body>
</html>