﻿@{
    ViewBag.Title = "About";
}

<hgroup class="title">  
    <h2>@ViewBag.Message</h2>
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        Group Members:
    </p>

    <p>
        Sean Willard (group leader)
    </p>

    <p>
        Thomas Hassell
    </p>

    <p>
        Edward Don-Jordon
    </p>

    <p>
        Tyler Lavine
    </p>
</article>