﻿@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        Group Members:
    </p>
    <p> 
        Sean Willard - <a href="mailto:sean.willard@selu.edu">
Sean.Willard@selu.edu</a>
    </p>

    <p>
        Thomas Hassell - <a href="mailto:thomas.hassell@selu.edu">
Thomas.Hassell@selu.edu</a>
    </p>

    <p>
        Edward Don-Jordon - <a href="mailto:edward.don-jordon@selu.edu">
Edward.Don-Jordon@selu.edu</a>
    </p>

    <p>
        Tyler Lavine - <a href="mailto:jason.lavine@selu.edu">
Jason.Lavine@selu.edu</a>
    </p>
</article>