﻿@{
    ViewBag.Title = "Home";
}
 
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h3>Key Features and Benefits:</h3>
    <div class="row">
        <div class="span4">
          <h5>Stay on Track</h5>
          <p>Project Manager helps you manage your projects and users.</p>
          <p><a class="btn" href="#">Learn more... &raquo;</a></p>
        </div>
        <div class="span4">
          <h5>Access Anywhere</h5>
          <p>Project Manager is web based so your team can login from anywhere.</p>
          <p><a class="btn" href="#">Learn more... &raquo;</a></p>
       </div>
        <div class="span4">
          <h5>Work Faster</h5>
          <p>Help your team stay focused and meet deadlines.</p>
          <p><a class="btn" href="#">Learn more... &raquo;</a></p>
        </div>