﻿@model Phase1.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor( m => m.Username)
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor( m => m.Password)
    <br />
        <input  type="submit" />
    @Html.ValidationSummary()
}
